<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<br>
<%= link_to "Sign in with Twitch", user_twitch_omniauth_authorize_path %>
<br>
<%= link_to "Sign in with Mixer", user_mixer_omniauth_authorize_path %>
